@layer wtf-ui {
	body.dark {
		--color-primary: blueviolet;
		--color-success: olive;
		--color-warning: orange;
		--color-error: crimson;
		--color-background: white;
		--color-background-disabled: darken(white, 5%);
		--color-border: lightgray;
		--color-border-active: darkgray;
		--color-outline: #0000002D;
		--color-shadow: #0000002D; /* white background + 0000002D = lightgray(#D3D3D3) */
	}
}